<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Groups</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css" />

    <!-- Page level plugin CSS-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}"
          rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link th:href="@{/vendor/sb-admin.css}" rel="stylesheet" />

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <h2 class="navbar-brand mr-1">Contenido</h2>

    <!-- mr-auto navbar-nav -->
    <a class="btn btn-outline-light" th:href="@{/}">Ir al sitio</a>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/Admin/Event'}">
                <i class="fas fa-fw fa-table"></i>
                <span>Eventos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/Admin/Group'}">
                <i class="fas fa-fw fa-table"></i>
                <span>Grupos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/Admin/Church'}">
                <i class="fas fa-fw fa-table"></i>
                <span>Parroquias</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h2 class="text-info">Lista de Grupos</h2>
                </li>
            </ol>


            <div th:each="group: ${groups}" th:if="${group.name != null}">
                <div class="row justify-content-center">
                    <div class="card mb-3 col-sm-6 col-xl-11 ">
                        <div class="row no-gutters align-items-center">

                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${group.name}"></h5>
                                    <p class="card-text ">
                                        <small th:text="${group.church.name}" class="text-muted col-1"></small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card-body">
                                    <p class="card-text">
                                        <small class="text-muted ">Miembros Activos:</small>

                                    </p>
                                    <h5 class="card-title" th:text="${#lists.size(group.users)}"></h5>

                                </div>

                            </div>
                            <div class="col-md-1 mx-3">
                                <p class="card-text">
                                    <!--
                                    <form id="Church" th:action="@{/Church/edit}" method="post" >
                                        <input th:name="id" id="id" th:value="${church.id}" type="hidden"/>
                                        <button type="submit" th:text="Modificar" class="btn btn-outline-success"></button>
                                        -->
                                </form>
                                </p>
                            </div>

                            <form th:action="@{/Admin/Members}" method="post">
                                <input type="hidden" th:value="${group.id}" name="id"/>
                                <input type="submit" style="margin-right:5px;" id="botonenviar" class="btn btn-primary shadow my-3" value="Ver miembros">
                            </form>



                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © VicariaSW 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/vendor/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<script th:src="@{/vendor/demo/datatables-demo.js}"></script>
<script th:src="@{/vendor/demo/chart-area-demo.js}"></script>


</body>

</html>