<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/fav.png}">
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Travel</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">


    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img style="width: 145px; height: 30px;" th:src="@{/img/logo110.png}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a th:href="@{/VicariaSW/Church}" >Inicio</a></li>
                    <li class="menu-has-children"><a href="">Grupo</a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Group/create}" >Crear Grupo</a></li>
                            <li><a th:href="@{/Group/}">Ver Grupos</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="">Iglesias</a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Church/create}" >Crear Iglesia</a></li>
                            <li><a th:href="@{/Church/}">Ver Iglesias</a></li>
                        </ul>
                    </li>
                    <li  sec:authorize="hasRole('ROLE_LIDER')" class="menu-has-children"><a href="">Mensajes</a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Message/List}" >Ver mensajes</a></li>
                        </ul>
                    </li>
                    <li  sec:authorize="hasRole('ROLE_LIDER')" class="menu-has-children"><a href="">Administracion</a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Admin/Event}" >Eventos</a></li>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Admin/Group}" >Grupos</a></li>
                            <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Admin/Church}" >Iglesias</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">logout</a></li>
                    <li sec:authorize="!isAuthenticated()"> <a class="btn btn-outline-primary" th:href="@{/login}">Sign in</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<!-- start banner Area -->

<section class="banner-area relative blog-home-banner" th:each="group: ${one}" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
               <!-- <h1 class="text-white" th:text="${group.name}"></h1>
                <p class="text-white" th:text="${church.history}"></p> -->
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start destinations Area -->
<section class="destinations-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Groups</h1>
                    <p>¡Encuentra toda la lista de grupos que están cerca de tí, únete y forma parte de la historia de cada una de las parroquías de nuestro país!.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" th:each="group: ${groups}">
                <div class="single-destinations">
                    <!--<div class="thumb">
                        <img class="img-fluid" th:if="${group.church.img != null}" th:src="@{'/uploads/' + ${group.church.img}}" th:alt="${group.name}">
                    </div>-->
                    <div class="details">
                        <h4 class="d-flex justify-content-between"></h4>
                        <span th:text="${group.name}"></span>
                        <p th:text="${group.information}"></p>
                        <p th:text="${group.schedule}"></p>
                        <div class="row">
                            <form th:action="@{/Group/showGroup}" method="post">
                                <input type="hidden" th:value="${group.id}" name="id"/>
                                <input style="margin-left: 5px;" type="submit" id="botonenviar" class="btn btn-primary shadow my-3" value="Ver Grupo">
                                <input style="margin-left: 5px;" type="submit" id="botonunirse" class="btn btn-primary shadow my-3" value="Unirse al grupo">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End destinations Area -->

<!-- Start post-content Area -->
<section class="post-content-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Eventos</h1>
                    <p>¡Encuentra toda la lista de eventos que ofrece la parroquia!.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End post-content Area -->


<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">


        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0">

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">

            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/superfish.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>