<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Modify Event</title>
</head>

<body class="p-2 px-3 bg-dark">

<!--Aqui manejaremos el submit del formulario-->
<script type="text/javascript">

    function guardar() {

    }


</script>
<!-- Form Card -->
<div class="d-flex flex-row justify-content-center h-100">

    <div class="col-md-7 col-sm-6 shadow rounded mt-4 mb-5 bg-white mr-2 flex-column py-3 px-5">
        <a th:href="@{/Admin/Event/}" style="flex: auto; position: absolute; top: 5px; left: 5px;" class="btn btn-danger btn-sm">Atr◙s</a>

        <h2 class="text-center">Datos de la Parroquia</h2>

        <h6 class="text-center mb-4">Ingrese los datos en los respectivos campos, seleccione una imagen desde su galería</h6>


        <!-- Formulario agregar Evento-->
        <div>
            <form id="editEvent" th:action="@{/Admin/saveModifyEvent}"
                  th:object="${event}" method="post" enctype="multipart/form-data">

                <input th:field="*{id}" id="id" th:value="${event.id}" class="form-control" type="hidden" />

                <div class="row mb-3">
                    <div class="col-md-7">
                        <label for="title">Titulo:</label>
                        <input th:field="*{title}" id="title" th:value="${event.title}" class="form-control" type="text" />
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="description">Autor:</label>
                        <input id="description" th:field="*{author}" th:value="${event.author}" class="form-control" type="text" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="description">Sub Autor:</label>
                        <input id="description" th:field="*{sub_author}" th:value="${event.sub_author}" class="form-control" type="text" />
                    </div>
                </div>



                <div class="row mb-6 px-3">
                    <label>Información</label>

                    <textarea th:field="*{information}"  th:value="${event.information}" style="resize:none" class="form-control" name="historia" cols="40" rows="5"></textarea>
                </div>

                <div class="row mb-3 justify-content-center">
                    <input type="submit" id="botonenviar" class="btn btn-success shadow my-3" value="Guardar">
                </div>

            </form>

        </div>
    </div>


</div>


<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script th:inline="javascript">
    $(function() {
        var $form =$('#newChurch');
        var $formData = new FormData($form);
        $form.on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url:$form.attr('action'),
                contentType:false,
                data: $formData,
                success: function (res) {
                    Swal.fire(
                        'Genial!',
                        'Los datos se han guardado correctamente',
                        'success'
                    ).then(function (value) {
                        window.location = "/"
                    })
                },
                failure: function (res) {
                    Swal.fire(
                        'Error',
                        'Ocurrio un problema al intentar guardar los datos',
                        'error'
                    )
                }
            });
        });
    });
</script>

</body>
</html>