<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Agregar Grupo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>

<body class="p-2 px-3 bg-dark">


<div class="d-flex flex-row justify-content-center h-100">

    <div class="col-md-7 col-sm-6 shadow rounded mt-4 mb-5 bg-white mr-2 flex-column py-3 px-5">

        <h2 class="text-center">Datos del Grupo</h2>

        <h6 class="text-center mb-4">Ingrese los datos en los respectivos campos, seleccione una imagen desde su galería</h6>

        <div>

            <form id="newGroup" th:action="@{/Group/saveGroup}" th:object="${group}" method="post">

                <input th:field="*{id}" id="id" th:value="${group.id}" class="form-control" type="hidden" />

                <div class="row mb-3">
                    <div class="col-md-7">
                        <label for="name" th:text="#{form.group.name}"></label>
                        <input id="name" type="text" th:field="*{name}" class="form-control" />
                    </div>
                </div>


                <div class="row mb-6 px-3">
                        <label for="info" th:text="#{form.group.info}"></label>
                        <textarea id="info" th:field="*{information}"  style="resize:none" class="form-control" name="info" cols="40" rows="5"></textarea>
                </div>


                <div class="row mb-3">

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" th:text="#{form.group.time}" id="sizing-addon1">Horario</span>
                        <input type="date"  th:field="*{schedule}" class="form-control" />
                    </div>
                </div>
                    <!--<div class="col-md-3">
                        <label for="scheduleDay" th:text="#{form.group.day}" ></label>
                        <input type="time" id="scheduleDay" th:field="*{schedule}" class="form-control" step="1800" min="7:00" max="21:00"/>
                    </div>

                    <div class="col-md-3">
                        <label for="scheduleStart" th:text="#{form.group.startTime}" ></label>
                        <input type="time" id="scheduleStart" th:field="*{schedule}" class="form-control" step="1800" min="7:00" max="21:00"/>
                    </div>

                    <div class="col-md-4">
                        <label for="scheduleEnd" th:text="#{form.group.endTime}" ></label>
                        <input type="time" id="scheduleEnd" th:field="*{schedule}" class="form-control" step="1800" min="7:00" max="21:00"/>
                    </div>
                </div>-->

                <!---
                <div class="row mb-3">
                    <div class="col">
                        <label for="foto">Subir Imagen:</label>
                        <input id="foto" name="foto" th:value="${church.img}"class="form-control" style="width: 400px"  type="file"/>
                    </div>
                </div>
                -->

                <div class="row mb-3">
                    <div class="col-md-7">
                        <label for="Churchid" th:text="#{form.group.church}" ></label>
                        <select id="Churchid" th:name="Churchid" class="form-control" style="width: 350px">
                            <option th:each="p: ${group.church}"
                                    th:if="${p.name != null}" th:value="${p.id}"
                                    th:text="${p.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <input type="submit" id="botonenviar" class="btn btn-success shadow my-3" value="Guardar">
                </div>


            </form>
        </div>

    </div>
</div>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


</body>
</html>
