	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" th:href="@{/img/fav.png}">
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Travel</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
		<link rel="stylesheet" th:href="@{/css/main.css}">


		</head>
		<body>	
			<header id="header">

				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img style="width: 145px; height: 30px;" th:src="@{/img/logo110.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a th:href="@{/VicariaSW/Church}" >Inicio</a></li>
				          <li class="menu-has-children"><a href="">Grupo</a>
				            <ul>
				              <li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Group/create}" >Crear Grupo</a></li>
				              <li><a th:href="@{/Group/}">Ver Grupos</a></li>
				            </ul>
				          </li>	
				          <li class="menu-has-children"><a href="">Iglesias</a>
				            <ul>
								<li sec:authorize="hasRole('ROLE_LIDER')"><a th:href="@{/Church/create}" >Crear Iglesia</a></li>
								<li><a th:href="@{/Church/}">Ver Iglesias</a></li>
				            </ul>
				          </li>					          					          		          
							<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">logout</a></li>
							<li sec:authorize="!isAuthenticated()"> <a class="btn btn-outline-primary" th:href="@{/login}">Sign in</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->
			  
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Parroquias
							</h1>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Descúbrenos!</h1>
		                        <p>¡Encuentra toda la lista de parroquías que están cerca de tí, únete y forma parte de la historia de cada una de las parroquías de nuestro país!.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4" th:each="church: ${churchs}">
							<div class="single-destinations">
								<div class="thumb">
									<img th:if="${church.img != null}" th:src="@{'/uploads/' + ${church.img}}" th:alt="${church.name}" style="width: 100%;">


								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span th:text="${church.name}"></span>
									</h4>
									<p style="max-lines: 3;" th:text="${church.history}"></p>
                                    <p th:text="${church.address}"></p>
									<div class="row">
										<form th:action="@{/Church/Detail}" method="post">
											<input type="hidden" th:value="${church.id}" name="id"/>
											<input type="submit" style="margin-right:5px;" id="botonenviar" class="btn btn-primary shadow my-3" value="Ver">
										</form>
										<form th:action="@{/Church/edit}" method="post">
											<input type="hidden" th:value="${church.id}" name="id"/>
											<input sec:authorize="hasRole('ROLE_LIDER')" type="submit" id="botonenviar" class="btn btn-success shadow my-3" value="Editar">
										</form>
										<form th:action="@{/Group/showByChurch}" method="post">
											<input type="hidden" th:value="${church.id}" name="id"/>
											<input style="margin-left: 5px;" type="submit" id="botonenviar" class="btn btn-primary shadow my-3" value="Ver Grupos">
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End destinations Area -->
			

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left no-padding">
							<h1>
								Visitanos en nuestras Parroquias <br>
								Tu puedes hacer la diferencia! <br>
							</h1>
							<p>
								Nuestra misión es fortalecer la comunidad, apoyandonos mutuamente en las necesidades,
								llevando la Buena Noticia a cada rincón.
							</p>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right">
							<img class="img-fluid" th:src="@{/img/hotels/about-img.jpg}" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">


					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0">

							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						<div class="col-lg-4 col-sm-12 footer-social">

						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->


			<script th:src="@{/js/jquery-ui.js}"></script>
			<script th:src="@{/js/superfish.min.js}"></script>
			<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
			<script th:src="@{/js/owl.carousel.min.js}"></script>
			<script th:src="@{/js/main.js}"></script>
		</body>
	</html>